$lt-gray: #ddd;
$background-dark: #2da864;
$background-light: #669de4;
$background-pale: #D1C4E9;
$background-moredark: #b3b0bd;


@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.nav{
background-color: rgb(89, 107, 243);
}
.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}
.active {
    background: $background-moredark;
}